<!DOCTYPE html>
<html lang="en">
<head>
  <title>SM64Hacks Database - <%= title %></title>
  <% include ../partials/header.ejs %>
</head>
<body>

  <% include ../partials/nav.ejs %>

  <div class="container-fluid">
    <div class="card bg-secondary text-white">
        <div class="card-header">SM64Hacks Database - <%= title %> (By: <%= author %>)</div>
        <div class="card-body">
            <p>
                <%=description%>
            </p>
            <hr />
            <div class="row">
                <div class="col-sm-4"><strong>Required Stars:</strong> <% if (requiredstars === -1 ) { %> Unknown <% } else { %> <%=requiredstars%> <% } %></div>
                <div class="col-sm-4"><strong>Total Stars:</strong> <% if (totalstars === -1 ) { %> Unknown <% } else { %> <%=totalstars%> <% } %></div>
                <div class="col-sm-4"><strong>Difficulty:</strong> <% if (difficulty === -1 ) { %> Unknown <% } else { %> <%=difficulty%> / 5 <% } %></div>
            </div>
            <hr />
            <% if (youtube != "none" && youtube != "None" && youtube != "x" && youtube != "X" && "-") { %>
            <iframe width="560" height="315" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="display: block; margin: 0 auto;" src="https://www.youtube-nocookie.com/embed/<%=youtube%>"></iframe>
            <% } %>
            <hr />
            <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                                <div class="card-header">Versions</div>
                                <div class="card-body">
                                    <ul>
                                        <% versionData.forEach((version) => { %>
                                            <li><%= version.versionString %>: <a href="https://gateway.ipfs.io/ipfs/<%= version.ipfsHash %>">https://gateway.ipfs.io/ipfs/<%= version.ipfsHash %></a></li>
                                        <% }) %>
                                    </ul>
                                    <% if (canEdit === true) { %>
                                    <hr /><a href="/edit/<%=id%>/versions/add">Add A Version</a>
                                    <% } %>
                                </div>                                
                            </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">Related Links</div>
                            <div class="card-body">
                                <ul>
                                    <% linkData.forEach((link) => { %>
                                        <li><a target="_blank" href="<%= link.location %>"><%= link.name %></a></li>
                                    <% }) %>                                    
                                </ul>
                                <% if (canEdit === true) { %>
                                <hr /><a href="/edit/<%=id%>/links/add">Add Link</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header">Screenshots</div>
                            <div class="card-body">
                                <ul>

                                </ul>
                                <% if (canEdit === true) { %>
                                <hr /><a href="#">Upload Screenshot</a>
                                <% } %>
                            </div>
                        </div>
                    </div> -->
            </div>
            <% if (canEdit === true) { %>
                <div class="card" style="margin-top: 2%">
                    <div class="card-header">Admin</div>
                    <div class="card-body">
                        <ul>
                            <li><a href="/edit/<%=id%>">Edit Hack</a></li>
                            <li><a href="/delete/<%=id%>">Delete Hack</a></li>
                        </ul>
                    </div>
                </div>
            <% } %>
            <!-- <div class="card">
                <div class="card-header">Screenshots</div>
                <div class="card-body">
                    <ul>
                        
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
  </div>

</body>
</html>
